<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
    <body>
        <div class="modal fade" id="addClient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Dodaj nowego klienta</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form class="add-client" name="clientForm">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Imie</label>
                            <input type="text" class="form-control addcd" id="name" name="name" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nazwisko</label>
                            <input type="text" class="form-control addcd" id="surname" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Miasto</label>
                            <input type="text" class="form-control addcd" id="city" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Ulica</label>
                            <input type="text" class="form-control addcd" id="street" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Numer domu/miszkania</label>
                            <input type="text" class="form-control addcd" id="home number" aria-describedby="emailHelp">
                        </div>
                        <button type="submit" class="btn btn-primary send-new-client">Dodaj</button>
                    </form>
                </div>
              </div>
            </div>
          </div>


        <div class='container'>
            <h1>Klienci</h1>
            <table class='table table-hover'>
                <thead>
                    <tr>
                        <th>Imie</th>
                        <th>Nazwisko</th>
                        <th>Miasto</th>
                    </tr>
                </thead>
                <tbody class='clients'>
                    <% cli.forEach(function(el) { %>
                        <tr>
                            <td><%= el.name %> </td>
                            <td><%= el.surname %></td>
                            <td><%= el.city %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <button type="button" class="btn btn-dark add-client" data-toggle="modal" data-target="#addClient">Dodaj klienta</button>


            <% cli.forEach(function(ord) { %>
            <h1>Zamówienia</h1>
            <h3>Klient: <%= ord.name %> <%= ord.surname %>, <%= ord.city %> ul.<%= ord.street %> <%= ord.home_no %></h3>
            <button type="button" class="btn btn-dark add-client" data-toggle="modal" data-target="#addClient">Dodaj zamówienia</button>

            <div class="orders">
                <% ord.orders.forEach(function(el) { %>
                    <div class='card'>
                        <div class="card-header">
                            <p>ID: <%= el.id %>, <%= el.date %></p>
                        </div>
                        <div class="order card-body">
                            <ul class="list-group list-group-flush">
                                <% el.menu_positions.forEach(function(it) { %>
                                    <li class="list-group-item">
                                        <div>
                                            <div><b><%= it.name %></b></div>
                                                <% it.custom_ingredients.forEach(function(j) { %>
                                                    <div>+ <%= j.name %></div>
                                                <% }) %>
                                            <div>
                                                Promocje:
                                                <% it.discounts.forEach(function(j) { %>
                                                    <div>- <%= j.name %></div>
                                                <% }) %>
                                            </div>
                                        </div>
                                    </li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                <% }) %>
            </div>
            <% }) %>


        </div>



          <!-- Modal -->

        <script src="index.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>